<ion-row *ngIf="isBrowser">
    <audio #player src="{{src}}"
           (click)="onClick($event)"
           (playing)="changeAudio()"
           style="margin: 0 auto;"
    >
        <!-- [class.hide]="(!platform.is('android') || !platform.is('ios') && htmlcontrols == 'false')" -->
    </audio>
</ion-row>
<ion-icon name="play" (click)="onClick($event)" *ngIf="!isPlaying" [class.hide]="controls == 'false'"></ion-icon>
<ion-icon name="pause" (click)="onClick($event)" *ngIf="isPlaying" [class.hide]="controls == 'false'"></ion-icon>

<!--
<ion-list>
    <ion-item>
        Loop: {{loop}}
    </ion-item>
    <ion-item>
        autoplay: {{autoplay}}
    </ion-item>
    <ion-item>
        htmlcontrols: {{htmlcontrols}}
    </ion-item>
    <ion-item>
        controls: {{controls}}
    </ion-item>
    <ion-item>
        isPlaying: {{isPlaying}}
    </ion-item>
    <ion-item>
        Loop: {{loop}}
    </ion-item>
</ion-list>
-->
