<ion-navbar *navbar>
    <ion-title>Spielübersicht</ion-title>
</ion-navbar>

<ion-content class="quiz">
    <!-- <ion-list-header>
        Spieleübersicht
    </ion-list-header> -->
    <ion-list *ngIf="quizSet">
        <ion-item>
            <ion-icon name="checkmark" large class="mark-as-right">&nbsp;:&nbsp;{{ quizSet.wins }}</ion-icon>
            <ion-icon name="close" large class="mark-as-wrong" style="float:right;">&nbsp;:&nbsp;{{ quizSet.losses }}</ion-icon>
        </ion-item>
        <button ion-item *ngFor="#round of quizSet.Set; #i = index" (click)="clickViewDetails(round[quizSet.CorrectAnswer[i]])">

            <ion-thumbnail item-left>
                <img src="assets/quiz/{{ quizSet.GameId }}/thumbnail-{{ round[quizSet.CorrectAnswer[i]].id }}.jpg">
            </ion-thumbnail>

            <h2>{{ round[quizSet.CorrectAnswer[i]].Name }}</h2>
            <p>{{ round[quizSet.CorrectAnswer[i]].Sciname }}</p>

            <button clear item-right >
                <ion-icon name="checkmark" large item-left class="mark-as-right" *ngIf="quizSet.CorrectAnswer[i]==quizSet.Answers[i]"></ion-icon>
                <ion-icon name="close" item-left class="mark-as-wrong" *ngIf="quizSet.CorrectAnswer[i]!=quizSet.Answers[i]"></ion-icon>
            </button>
        </button>
    </ion-list>
</ion-content>
