
<ion-navbar *navbar>
    <ion-title>
        Credentials
    </ion-title>
</ion-navbar>

<ion-content class="information credentials">
    <ion-list *ngIf="showCategory">
        <button ion-item
                *ngFor="#item of games; #i = index"
                (click)="onClickCategory(i)">
            <!--
            <ion-thumbnail item-left>
                <img src="./img/placeholder-home-screen.png"/>
            </ion-thumbnail>
            -->
            <h2>{{item.Name}}</h2>
            <!--
            <ion-row>
                <ion-icon name="image"></ion-icon> &nbsp;{{ item.Teaser.Image.Author.Name }} <br/>
            </ion-row><ion-row>
                &copy;&nbsp; {{ item.Teaser.Image.Licence.Name }}
            </ion-row>
            -->
        </button>
    </ion-list>

    <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)" *ngIf="!showCategory"></ion-searchbar>

    <ion-list *ngIf="!showCategory">
        <ion-item *ngIf="data.length === 0">
            Keine Einträge.
        </ion-item>
        <ion-item *ngFor="#item of data">
            <ion-thumbnail item-left>
                <img src="./assets/quiz/{{ selectedGameId }}/thumbnail-{{ item.id }}.jpg"/>
            </ion-thumbnail>

            <h2> {{ item.Name }}</h2>
            <p> {{ item.Sciname }}</p>
            <button clear item-right  (click)="showDetails(item)"><ion-icon name="more"></ion-icon></button>

            <ion-row>
                <a (click)="openLink(item.Image.Author.Link, item.Image.Link)">
                    <ion-icon name="image"></ion-icon> &nbsp;{{ item.Image.Author.Name }}
                </a>
            </ion-row>
            <ion-row>
                <a (click)="openLink(item.Image.Licence.Link, item.Image.Link)">
                    &copy;&nbsp; {{ item.Image.Licence.Name }}
                </a>
            </ion-row>
            <ion-row>
                <a (click)="openLink(item.Audio.Author.Link, item.Audio.Link)">
                    <ion-icon name="musical-notes"></ion-icon>&nbsp;{{ item.Audio.Author.Name }}
                </a>
            </ion-row>
            <ion-row>
                <a (click)="openLink(item.Image.Author.Link, item.Audio.Link)">
                    &copy;&nbsp; {{ item.Audio.Licence.Name }}
                </a>
            </ion-row>
            <ion-row>
                <a (click)="openLink(item.Abstract.Author.Link, item.Link)">
                    <ion-icon name="paper"></ion-icon>&nbsp;{{ item.Abstract.Author.Name }}
                </a>
            </ion-row>
            <ion-row>
                <a (click)="openLink(item.Abstract.Licence.Link, item.Link)">
                    &copy;&nbsp; {{ item.Abstract.Licence.Name }}
                </a>
            </ion-row>
        </ion-item>
    </ion-list>
</ion-content>
